<template>
  <q-page padding class="flex column items-center justify-center">
    <div class="col">
      <ArticlesSummariesContainer
        :articles="articles"
        :isArticlesNull="isArticlesNull"
        :isLoadingArticles="isLoadingArticles"
      />
    </div>
  </q-page>
</template>

<script>
import ArticlesSummariesContainer from "../components/articles-summaries-container";
export default {
  name: "ArticlesPreview",
  components: {
    ArticlesSummariesContainer
  },
  data() {
    return {
      articles: null,
      pagination: {},
      meta: {},
      loadingArticles: true
    };
  },
  created() {
    this.$store
      .dispatch("articles/fetchArticlesSummaries")
      .then(res => {
        this.articles = res.articlesPreview;
        this.pagination = res.pagination;
        this.meta = res.metaData;
        this.loadingArticles = false;
      })
      .catch(err => {
        this.loadingArticles = false;
        console.log("Error when trying to obtain articles: " + err);
      });
  },
  computed: {
    isArticlesNull() {
      return this.articles === null;
    },
    isLoadingArticles() {
      return this.loadingArticles;
    }
  }
};
</script>

<style>
</style>
