<template>
  <div>
    <ArticleBody
      :authorName="sendAuthorName"
      :title="sendTitle"
      :content="sendContent"
      :categories="sendCategories"
    ></ArticleBody>
    <h6>{{$t('commentsLabel')}}</h6>
    <Comment
      v-for="comment in comments"
      :key="comment.id"
      :authorID="comment.user_id"
      :content="comment.content"
      :date="comment.created_at"
    ></Comment>
  </div>
</template>

<script>
export default {
  props: {
    articleID: {
      type: String,
      required: true
    }
  },
  components: {
    ArticleBody: () => import("../components/article-body"),
    Comment: () => import("../components/article-comment")
  },
  data() {
    return {
      comments: [],
      title: "",
      content: "",
      authorID: null,
      categories: [],
      authorName: ""
    };
  },
  created() {
    this.$store
      .dispatch("articles/fetchArticleDetails", { id: this.articleID })
      .then(res => {
        this.title = res.title;
        this.content = res.content;
        this.authorID = res.userID;
      })
      .then(res => {
        this.$store
          .dispatch("users/fetchUserName", { id: this.authorID })
          .then(res => {
            this.authorName = res;
          });
      })
      .catch(err => {
        console.log("Error when trying to obtain article categories: " + err);
      });

    this.$store
      .dispatch("articles/fetchArticleCategories", { id: this.articleID })
      .then(res => {
        this.categories = res;
      })
      .catch(err => {
        console.log("Error when trying to obtain article categories: " + err);
      });

    this.$store
      .dispatch("articles/fetchArticleCategories", { id: this.articleID })
      .then(res => {
        this.categories = res;
      })
      .catch(err => {
        console.log("Error when trying to obtain article categories: " + err);
      });

    this.$store
      .dispatch("articles/fetchArticleComments", { id: this.articleID })
      .then(res => {
        console.log("comments", { res });
        this.comments = res;
      })
      .catch(err => {
        console.log("Error when trying to obtain article categories: " + err);
      });
  },
  computed: {
    sendTitle() {
      return this.title;
    },
    sendContent() {
      return this.content;
    },
    sendAuthorName() {
      return this.authorName;
    },
    sendCategories() {
      return this.categories;
    }
  }
};
</script>
