<template>
  <div class="row justify-center q-pa-md">
    <q-form @submit="onSubmit" @reset="onReset" class="col q-gutter-md" style="max-width: 400px">
      <q-input
        filled
        data-test="userNameField"
        v-model="userName"
        id="userNameField"
        label="Your userName *"
        hint="username or e-mail"
      />

      <q-input
        filled
        data-test="passwordField"
        v-model="password"
        type="password"
        id="passwordField"
        label="Password *"
      />

      <div>
        <q-btn data-test="submitButton" label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"/>
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userName: "",
      password: ""
    };
  },
  methods: {
    onSubmit() {
      const login = document.getElementById("userNameField").value;
      const password = document.getElementById("passwordField").value;
      this.$store
        .dispatch("users/fetchToken", { login: login, password: password })
        .then(res => {
          localStorage.setItem("user_token_artigos", res);
          localStorage.setItem("user_login_artigos", login);
          this.$axios.defaults.headers.common["Authorization"] =
            "Bearer " + res;
          const axios = this.$axios.defaults.headers;
          this.$store
            .dispatch("users/fetchUserData", { login: login })
            .then(res => {
              this.$store.commit("users/setUserID", res.userId);
              this.$store.commit("users/setUserType", res.roles);
              this.$store.commit("users/setUserName", res.userName);

              this.$router.push({ path: "/" });
            });
        })
        .catch(e => console.log("failed with an error of: " + e));
    },
    onReset() {
      document.getElementById("userNameField").value = "";
      document.getElementById("passwordField").value = "";
    }
  }
};
</script>
