<template>
  <div class="row justify-center q-pa-md">
    <q-form @submit="onSubmit" @reset="onReset" class="col q-gutter-md" style="max-width: 400px">
      <q-input
        filled
        v-model="userName"
        debounce="500"
        id="userNameField"
        label="user name *"
        hint="Anything goes as long as it is not empty"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="userMail"
        debounce="500"
        id="userMailField"
        label="email *"
        type="email"
        lazy-rules
        :rules="[
          val => val && val.length > 0 || 'Please enter your e-mail',
          val => validateEMail(val) || 'Please enter a valid e-mail'
        ]"
      />

      <q-input
        filled
        v-model="password"
        debounce="500"
        id="passwordField"
        type="password"
        label="Password *"
        hint="Password must have at least 8 characters"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type your password',
          val => val.length > 8 || 'Password must have at least 8 characters'
        ]"
      />

      <!-- <div v-if="userIsAdministrator"> -->
      <div>
        User's permissions are:
        <br>
        <q-toggle v-model="newUserIsReader" label="Reader">
          <q-tooltip>Allows the user to comment on articles. User cannot be reader and writer at the same time.</q-tooltip>
        </q-toggle>
        <q-toggle v-model="newUserIsWriter" label="Writer">
          <q-tooltip>Gives the user the same permissions as a reader plus the ability to write new articles. User cannot be reader and writer at the same time.</q-tooltip>
        </q-toggle>
        <q-toggle v-model="newUserIsAdmin" label="Admin">
          <q-tooltip>Gives the user administrator's rights.</q-tooltip>
        </q-toggle>
      </div>

      <q-toggle
        v-model="hasAcceptedCodeOfConduct"
        label="I have read and accept the code of conduct"
      />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"/>
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userName: "",
      password: "",
      userMail: "",
      hasAcceptedCodeOfConduct: false,
      newUserIsReader: false,
      newUserIsAdmin: false
    };
  },
  methods: {
    onSubmit() {
      const login = document.getElementById("userNameField").value;
      const password = document.getElementById("passwordField").value;
      const email = document.getElementById("userMailField").value;
      const userType = this.$store.getters["users/getUserType"];

      if (userType[0] === "guest") {
        this.$store
          .dispatch("users/registerUser", {
            userName: login,
            userEmail: email,
            userPassword: password
          })
          .then(response => {
            this.$router.push({ path: "/" });
          });
      } else {
        var roles = [];
        if (this.newUserIsReader) {
          roles.push("reader");
        } else {
          roles.push("writer");
        }
        if (this.newUserIsAdmin) {
          roles.push("admin");
        }

        this.$store
          .dispatch("users/registerUser", {
            userName: login,
            userEmail: email,
            userPassword: password,
            roles: roles
          })
          .then(response => {
            this.$router.push({ path: "/" });
          });
      }
    },
    onReset() {
      document.getElementById("userNameField").value = "";
      document.getElementById("passwordField").value = "";
      document.getElementById("userMailField").value = "";
    },
    validateEMail(mail) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
        return true;
      }
      return false;
    }
  },
  computed: {
    userIsAdministrator() {
      const roles = this.$store.getters["users/getUserType"];
      const admin = roles.filter(role => role === "admin");
      return admin[0] === "admin";
    },
    newUserIsWriter() {
      return !this.newUserIsReader;
    }
  }
};
</script>

