<template>
  <div>
    <q-header elevated class="bg-primary text-white">
      <q-toolbar class="row justify-around">
        <q-toolbar-title data-test="homeTitle" @click="goHome" class="col-auto canBeClicked">Home</q-toolbar-title>
        <q-toolbar-title
          data-test="aboutMeTitle"
          id="aboutMeTitle"
          @click="goToAbout"
          class="col-auto canBeClicked"
        >{{$t('aboutTitle')}}</q-toolbar-title>
        <q-space/>
        <UserMenu @requestPageChange="changePage" :userRoles="sendUserRoles"/>
      </q-toolbar>
    </q-header>
  </div>
</template>

<script>
export default {
  name: "AppHeader",
  data() {
    return {};
  },
  created() {
    const token = localStorage.getItem("user_token_artigos");
    if (token !== null && token !== "") {
      this.$axios.defaults.headers.common["Authorization"] = "Bearer " + token;
      const login = localStorage.getItem("user_login_artigos");

      this.$store
        .dispatch("users/fetchUserData", {
          login: login
        })
        .then(res => {
          this.$store.commit("users/setUserID", res.userId);
          this.$store.commit("users/setUserType", res.roles);
          this.$store.commit("users/setUserName", res.userName);
        })
        .catch(err => console.log("failed at obtaining user data:", err));
    }
  },
  components: {
    UserMenu: () => import("../components/user-menu")
  },
  methods: {
    goHome() {
      this.$router.push({ path: "/" });
    },
    goToAbout() {
      this.$router.push({ path: "/about" });
    },
    changePage(page) {
      if (page === "login") this.$router.push({ path: "/login" });
      else if (page === "register") this.$router.push({ path: "/register" });
    }
  },
  computed: {
    sendUserRoles() {
      const roles = this.$store.getters["users/getUserType"];
      return roles;
    }
  }
};
</script>

<style scoped>
.canBeClicked {
  cursor: pointer;
}
</style>
