<template>
  <q-card flat bordered class="q-ma-sm bg-grey-1">
    <q-card-section>
      <div data-test="authorName">{{`${this.authorName} at ${date}`}}</div>
      <div data-test="commentContent">{{content}}</div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    authorID: Number,
    date: String,
    content: String
  },
  data() {
    return {
      authorName: ""
    };
  },
  created() {
    this.$store
      .dispatch("users/fetchUserName", { id: this.authorID })
      .then(res => {
        this.authorName = res;
      });
  }
};
</script>
