<template>
  <q-card class="article">
    <q-card-section class="secao">
      <div data-test="summaryTitle" class="text-h6">{{title}}</div>
      <div>
        <q-badge
          v-for="(category, index) in categories"
          :key="index"
          color="primary"
          class="q-ma-xs badge"
          data-test="badge"
        >{{category.name}}</q-badge>
      </div>
    </q-card-section>

    <q-separator/>

    <q-card-actions align="center">
      <q-btn
        data-test="readMoreButton"
        icon="subject"
        flat
        @click="goToArticleDetails(articleID)"
      >{{$t('readMoreLabel')}}</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: "ArticleSummary",
  data() {
    return {
      categories: null
    };
  },
  created() {
    this.$store
      .dispatch("articles/fetchArticleCategories", { id: this.articleID })
      .then(res => {
        this.categories = res;
      })
      .catch(err => {
        console.log("Error when trying to obtain article categories: " + err);
      });
  },
  props: {
    title: String,
    articleID: Number
  },
  methods: {
    goToArticleDetails(articleID) {
      this.$router.push({ path: `/article/${articleID}` });
    }
  },
  computed: {
    isCategoriesNull() {
      return this.categories === null;
    }
  }
};
</script>

<style scoped>
.article {
  margin: 2em;
}
</style>
