<template>
  <div v-if="isLoadingArticles">
    <q-spinner color="primary" size="8em" :thickness="2"/>
  </div>
  <div v-else>
    <div v-if="isArticlesNull">
      <h1>Sorry, coldn't load the articles</h1>
    </div>
    <div v-else>
      <div v-for="article of articles" :key="article.id">
        <ArticleSummary data-test="articleSummary" :title="article.title" :articleID="article.id"></ArticleSummary>
      </div>
    </div>
  </div>
</template>

<script>
import ArticleSummary from "./article-summary";
export default {
  props: {
    articles: Array,
    isArticlesNull: Boolean,
    isLoadingArticles: Boolean
  },
  components: {
    ArticleSummary
  }
};
</script>

