<template>
  <q-card flat bordered class="my-card">
    <q-card-section>
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-h6">{{this.title}}</div>
          <div class="text-subtitle2">by {{this.authorName}}</div>
        </div>
        <div>
          <q-badge
            v-for="(category, index) in categories"
            :key="index"
            color="primary"
            class="q-ma-xs"
          >{{category.name}}</q-badge>
        </div>
      </div>
    </q-card-section>

    <q-card-section>
      <div>{{ this.content }}</div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    title: String,
    content: String,
    authorName: String,
    categories: Array
  }
};
</script>
