<template>
  <div>
    <div data-test="selectLanguageMessage" class="q-mt-md q-mb-xs">{{$t('selectLanguageMessage')}}</div>-->
    <q-select id="selector" filled v-model="currentLang" :options="langs"/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      langs: [
        {
          label: "Português",
          value: "pt-br"
        },
        {
          label: "US English",
          value: "en-us"
        },
        {
          label: "Spanish",
          value: "es-es"
        }
      ],
      currentLang: this.$i18n.locale
    };
  },
  watch: {
    currentLang(currentLang) {
      // sets the vue-i18n locale
      this.$i18n.locale = currentLang.value;

      // sets quasar language pack
      import(`quasar/lang/${currentLang.value}`)
        .then(({ default: messages }) => {
          this.$q.lang.set(messages);
        })
        .catch(err =>
          console.log("Error on trying to define quasar language pack " + err)
        );
    }
  }
};
</script>

