<template>
  <div v-if="userIsGuest">
    <q-btn-group rounded>
      <q-btn data-test="loginButton" @click="requestPageChangeToLogin">Login</q-btn>
      <q-btn data-test="registerButton" @click="requestPageChangeToRegister">Register</q-btn>
    </q-btn-group>
  </div>
  <div v-else>
    <div class="q-pa-md">
      <q-btn-dropdown
        data-test="settingsButton"
        icon="menu"
        color="primary"
        :label="$t('settingsLabel')"
      >
        <UserSettings :userRoles="this.userRoles"/>
      </q-btn-dropdown>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    userRoles: Array
  },
  components: {
    UserSettings: () => import("./user-settings")
  },
  computed: {
    userIsGuest() {
      const guestArray = this.userRoles.filter(this.filterGuest);
      return guestArray[0] === "guest";
    }
  },
  methods: {
    requestPageChangeToLogin() {
      this.$emit("requestPageChange", "login");
    },
    requestPageChangeToRegister() {
      this.$emit("requestPageChange", "register");
    },
    filterGuest(guest) {
      return guest === "guest";
    }
  }
};
</script>

