<template>
  <div class="row no-wrap q-pa-md">
    <div class="column">
      <div class="text-h6 q-mb-md">{{$t('userSettingsTitle')}}</div>
      <div v-if="userIsAdministrator">
        <q-btn
          data-test="registerNewUserButton"
          color="primary"
          @click="goToRegister"
        >Register New User</q-btn>
      </div>
      <LanguageSelector/>
    </div>

    <q-separator vertical inset class="q-mx-lg"/>

    <div class="column items-center">
      <div class="text-subtitle1 q-mt-md q-mb-xs">{{$t('greeting', [this.userName])}}</div>
      <q-btn
        data-test="logoutButton"
        color="primary"
        label="Logout"
        @click="logout"
        push
        size="sm"
      />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    LanguageSelector: () => import("./language-selector")
  },
  props: {
    userRoles: Array
  },
  methods: {
    goToRegister() {
      this.$router.push({ path: "/register" });
    },
    logout() {
      localStorage.setItem("user_token_artigos", "");
      localStorage.setItem("user_login_artigos", "");
      this.$axios.defaults.headers.common["Authorization"] = "";
      this.$store.commit("users/setUserID", null);
      this.$store.commit("users/setUserName", "");
      this.$store.commit("users/setUserType", ["guest"]);
      this.$router.push({ path: "/" });
    }
  },
  computed: {
    userIsAdministrator() {
      const admin = this.userRoles.filter(role => role === "admin");
      return admin[0] === "admin";
    },
    userName() {
      return this.$store.getters["users/getUserName"];
    }
  }
};
</script>

