<template>
  <q-layout view="hHh lpR fFf">
    <AppHeader></AppHeader>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";
import AppHeader from "../components/app-header";

export default {
  name: "MainLayout",
  data() {
    return {};
  },
  methods: {
    openURL
  },
  components: {
    AppHeader
  }
};
</script>
